{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="main-box">
        <h2>Selamat Datang di Sistem Digital Signature</h2>
        <p>Silahkan Pilih Menu yang Ingin Digunakan</p>
        <a href="{{ url_for('generate_key') }}">
            <button>Generate Key</button>
        </a><br>

        <a href="{{ url_for('sign_file') }}">
            <button>Signature File</button>
        </a><br>

        <a href="{{ url_for('verify_file') }}">
            <button>Verify File</button>
        </a>
    </div>
</div>



{% endblock %}